footer {
  background-color: var(--dark);
  color: #a0aec0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

footer p {
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer-links a {
  color: #a0aec0;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 0.9rem;
}

.footer-links a:hover {
  color: var(--primary-light);
}
